.HomeImg{
    height:80px;
    cursor: pointer;
    width:100%;
}
.NavImg{
    height:80px;
    cursor: pointer;
    width:80px;
}
input{
    background: url("https://static.thenounproject.com/png/101791-200.png") no-repeat left;
    background-size: 30px;
    height:35px;
    min-width:35vw ;    
    background-color: #292828;
}
input::placeholder{
    padding-left: 55px;
    font-size: large;
}
#Search{
    height:35px;
    font-size:large;
    margin-left: 10px;
    padding:0 30px;
    color: gray;
    background-color: #292828 ;
    border:0.5px gray solid;
    cursor: pointer;
}
nav{
    display: flex;
    justify-content: space-around;
    background-color: #292828 ;
    align-items: center;
}
